[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
transformers = "*"
contextualspellcheck = "*"
spacy = "*"
datasets = "*"
requests = "*"
beautifulsoup4 = "*"
html5lib = "*"
streamlit = "*"
matplotlib = "*"
seaborn = "*"
clean-text = "*"
wordcloud = "*"
evaluate = "*"

[dev-packages]

